<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @admin_comment.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @admin_comment.user_id %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @admin_comment.comment_id %>
</p>

<%= link_to 'Edit', edit_admin_comment_path(@admin_comment) %> |
<%= link_to 'Back', admin_comments_path %>
