<div class="product-layout col-lg-3 col-md-3 col-sm-3 col-xs-12">
	<div class="product-thumb transition">
		<a class="quickview" data-rel="details" href="#quickview_1" data-toggle="tooltip" title="" data-original-title="Quick View">
			<i class="fl-line-icon-set-eyes"></i>
		</a>
		

		<div class="image">
			<a class="lazy lazy-loaded" style="padding-bottom: 100%" href="/products/<%= product.id %>"> 
				<img alt="" title="" class="img-responsive" data-src="<%= product.image %>" src="<%= product.image %>">
			</a>

			<div class="stickers">
				<% if product.status == true %>
					    <div class="sale">sale</div>      
				<%end%>	
		        <% 	if product.status.nil? %>
		        	<div class="new_pr">new</div>    		        	  
		        <% end %>				
			</div>
		</div>
		<div class="caption">
			<div class="name">
				<a href=""><%= product.name %></a>
			</div>

			<div class="price">
				<span class="price-new">$<%= product.price %>0</span> 
				<% if !(product.status == false ) %>
				 	<span class="price-old">$40.00</span>
				<% end %> 	
			</div>

			<div class="cart-button">
				<button class="btn btn-add" type="button" onclick="cart.add('33');">					
					<span>Add to Cart</span>
				</button>
			</div>
		</div>
	</div>
</div>