<div class="container">
  <ul class="breadcrumb">
    <li><a href=""><i class="fa fa-home"></i></a></li>
    <li><a href="">Account</a></li>
    <li class="last"><a href="" style="display: none;">Login</a><span>Login</span></li>
  </ul>
  <div class="row">
    <div id="content" class="col-sm-9">
      <div class="row">
        <div class="col-sm-6">
          <div class="well">
            <div class="heading">
              <i class="fa fa-file-text-o"></i>
              <div class="extra-wrap">
                <h2>New Customer</h2>
                <strong>Register Account</strong>
              </div>
            </div>
            <p>By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made.</p>
            <a href="" class="btn btn-default">Continue</a>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="well">
            <div class="heading">
              <i class="fa fa-key"></i>
              <h2>Returning Customer</h2>
              <strong>I am a returning customer</strong>
            </div>
    <%= form_for(:session, url: login_path) do |f| %>
<div class="form-group">
      <%= f.label :email,class: 'control-label' %>
      <%= f.email_field :email, class: 'control-label',:placeholder => 'E-Mail', :required => true %>
</div>
      <%= f.label :password,class: 'control-label'%>  
      <%= f.password_field :password, class: 'control-label',:placeholder =>   'Password', :required => true %>
<div class="form-group">
       <%= f.label :remember_me, class: "control-label" do %>
       <%= f.check_box:remember_me %>
       <span>&nbsp&nbsp&nbsp&nbsp Remember</span>
       </div>
       <% end %>

      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>
    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
          </div>
        </div>        
      </div>      
    </div>
    <aside id="column-right" class="col-sm-3">
      <div class="box affilate info">
        <div class="box-heading">
          <h3>Affiliate</h3>
        </div>
        <div class="box-content">
          <ul>
            <li><a href="">Login</a></li>
            <li><a href="">Register</a></li>
            <li><a href="">Forgotten Password</a></li>
            <li><a href="">My Account</a></li>
            <li><a href="">Payment Options</a></li>
            <li><a href="">Affiliate Tracking</a></li>
            <li><a href="">Transactions</a></li>
          </ul>
        </div>
      </div>
    </aside>
  </div>
</div>