<%  provide(:title,"Log in") %>
<div class="container">
  <ul class="breadcrumb">
    <li><a href=""><i class="fa fa-home"></i></a></li>
    <li><a href="">Account</a></li>
    <li class="last"><a href="" style="display: none;">Login</a><span>Login</span></li>
  </ul>
  <div class="row">
    <div id="content" class="col-sm-9">
      <div class="row">
        <div class="col-sm-6">
          <div class="well">
            <div class="heading">
              <i class="fa fa-file-text-o"></i>
              <div class="extra-wrap">
                <h2>New Customer</h2>
                <strong>Register Account</strong>
              </div>
            </div>
            <p>By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made.</p>
            <a href="/signup" class="btn btn-default">Continue</a>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="well">
            <div class="heading">
              <i class="fa fa-key"></i>
              <h2>Returning Customer</h2>
              <strong>I am a returning customer</strong>
            </div>
            <%= form_for(:session, url: login_path,class: 'form-group') do |f| %>
              <div class="form-group">
                <%= f.label :email,class: "control-label" %>
                <%= f.email_field :email, class: "form-control" %>
              </div>
              <div class="form-group">
                <%= f.label :password,class: "control-label"%>
                <%= f.password_field :password, class: "form-control" %>
              </div>
              <div class="form-group">
                <%= f.label :remember_me, class: "control-label"%>
                <%= f.check_box:remember_me %>
              </div>
              <%= f.submit "Log in", class: "btn btn-primary" %>      
            <% end %>
          </div>
        </div>        
      </div>      
    </div>
    <%= render 'users/right_sidenav'%>
  </div>
</div>