<form action="" method="post" enctype="multipart/form-data">
	<div class="table-responsive">
		<table class="table table-bordered">
			<thead>
				<tr>
					<td>Image</td>
					<td class="text-left">Product Name</td>
					<td class="text-left">Quantity</td>
					<td class="text-right">Unit Price</td>
					<td class="text-right">Discout</td>
					<td class="text-right">Total</td>
					<td style="width: 0"></td>
				</tr>
			</thead>
			<tbody>
			<!-- begin each session[:current_cart] -->
				<% @total = 0 %>
				<% if  !(session[:current_cart].nil?) %>
					<% session[:current_cart].each do |key ,value| %>	
						<% product_detail 	= ProductDetail.where(id: key).first %>
						<% product = Product.where(id: product_detail.product_id).first %>	
						<tr>
							<td class="text-center vcenter"> 
								<div class="image">
									<a href="">
										<img src="<%= product.image %>" alt="Autumn Shades Perfect Gift" title="Autumn Shades Perfect Gift" class="img-thumbnail"  height="80" width="80">
									</a>
								</div>
							</td>
							<td class="text-left">
								<a class="link" href="">
								<%= product.name%> </a>
								<br>						
								<small>
								<strong>Size</strong>: <%= product_detail.type_product %> </small>
								<br>						
								<small>
								<strong>Product Code</strong>: <%= product_detail.code%> </small>
							</td>
							<td class="text-left">
								<div class="btn-block clearfix" style="max-width: 200px;">								
										<input name="quantity[181]" value="<%= value %>" size="1" class="form-control cart-q" id="cart-q" type="text">								
									<p>
									<button type="submit" class="link">Update</button>
									</p>
								</div>
							</td>
							<td class="text-right">
								<div class="price">$<%=product_detail.price%></div>
							</td>
							<td class="text-right">
								<div class="price"><%=product_detail.discount%>%</div>
							</td>

							<% @total =  @total + (product_detail.price - product_detail.price*product_detail.discount/100)*value %>
							<td class="text-right">
								<div class="price price-total">$<%= (product_detail.price - product_detail.price*product_detail.discount/100)*value%></div>
							</td>
							<td class="text-center" style="width: 0">
								<button type="button" data-toggle="tooltip" title="" class="cart-remove-btn" onclick="cart.remove('181');" data-original-title="Remove">
									<i class="fa fa-times fa-1x" aria-hidden="true"></i>
								</button>
							</td>
						</tr>
					<% end %>
					<!-- end each session[:current_cart] -->
				<% end %>
			</tbody>
		</table>
	</div>
</form>

<div class="row">
	<div class="col-sm-4 col-sm-offset-8">
		<table class="table table-bordered">
			<tbody>
				<tr>
					<td class="text-right"><strong>Total:</strong></td>
					<td class="text-right">$<%= @total%></td>
				</tr>			
			</tbody>
		</table>
	</div>
</div>