<div class="container">
	<ul class="breadcrumb">
		<li><a href="/"><i class="fa fa-home"></i></a></li>
		<li><a href="shoppingcart">Shopping Cart</a></li>
		<li ><a href="/checkout" style="display: none;">Checkout</a><span>Checkout</span></li>
		<li class="last"><a href="/checkout" style="display: none;">Checkout</a><span>Step 4</span></li>
	</ul>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">Step 4: Confirm Order</h4>
		</div>
		<div class="panel-collapse collapse in" id="collapse-checkout-option" aria-expanded="true" style="">
			<div class="panel-body">
					
					<div class="table-responsive">
						<table class="table table-bordered table-hover">
							<thead>
								<tr>
									<td class="text-left">Product Name</td>
									<td class="text-left">Code</td>
									<td class="text-right">Quantity</td>
									<td class="text-right">Total</td>
								</tr>
							</thead>
							<% total = 0%>
							<% session[:current_cart].each do |key ,value| %>	
								<% product_detail 	= ProductDetail.find(key) %>
								<% product = Product.find(product_detail.product_id) %>	
								<tbody>
									<tr>
										<td class="text-left name"><a href=""><%= product.name%></a><br>
										&nbsp;<small> - Size: <%= product_detail.type_product %></small><br>
										</td>

										<td class="text-left"> <%= product_detail.code %> </td>
										<td class="text-right"><%= value %></td>
										<td class="text-right tx-price">$<%= value*(product_detail.price*(1 - product_detail.discount/100)) %> </td>
									</tr>
								</tbody>
								<% total =  total + value*(product_detail.price*(1 - product_detail.discount/100)) %>
							<% end %>	

							<tfoot>
								<tr>
									<td colspan="3" class="text-right"><strong>Sub-Total:</strong></td>
									<td class="text-right tx-price">$<%= total.round(2) %></td>
								</tr>
								<tr>
									<td colspan="3" class="text-right"><strong>Shipping Rate:</strong></td>
									<td class="text-right tx-price">$1.00</td>
								</tr>
								<tr>
									<td colspan="3" class="text-right"><strong>Total:</strong></td>
									<td class="text-right tx-price">$ <%= (total +1).round(2) %> </td>
								</tr>
							</tfoot>
						</table>
					</div>
					<%= form_for(:session, url: cart_confirm_order_path, method: :post, class: 'form-horizontal') do |f| %>
						<div class="buttons">
							<div class="pull-right">
								<%= f.submit "Confirm Order", class: "btn btn-primary" %>    
							</div>
						</div>
					<% end %>		

			</div>
		</div>
	</div>	
</div>