<%= form_for(admin_bill) do |f| %>
  <% if admin_bill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin_bill.errors.count, "error") %> prohibited this admin_bill from being saved:</h2>

      <ul>
      <% admin_bill.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :input_price %>
    <%= f.text_field :input_price %>
  </div>

  <div class="field">
    <%= f.label :selling_price %>
    <%= f.text_field :selling_price %>
  </div>

  <div class="field">
    <%= f.label :product_details_id %>
    <%= f.number_field :product_details_id %>
  </div>

  <div class="field">
    <%= f.label :quantity %>
    <%= f.number_field :quantity %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
