<p id="notice"><%= notice %></p>

<p>
  <strong>Input price:</strong>
  <%= @admin_bill.input_price %>
</p>

<p>
  <strong>Selling price:</strong>
  <%= @admin_bill.selling_price %>
</p>

<p>
  <strong>Product details:</strong>
  <%= @admin_bill.product_details_id %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @admin_bill.quantity %>
</p>

<%= link_to 'Edit', edit_admin_bill_path(@admin_bill) %> |
<%= link_to 'Back', admin_bills_path %>
