<p id="notice"><%= notice %></p>

<h1>Admin Product Datails</h1>

<table>
  <thead>
    <tr>
      <th>Color</th>
      <th>Type</th>
      <th>Product</th>
      <th>Code</th>
      <th>Quantity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_product_datails.each do |admin_product_datail| %>
      <tr>
        <td><%= admin_product_datail.color %></td>
        <td><%= admin_product_datail.type %></td>
        <td><%= admin_product_datail.product_id %></td>
        <td><%= admin_product_datail.code %></td>
        <td><%= admin_product_datail.quantity %></td>
        <td><%= link_to 'Show', admin_product_datail %></td>
        <td><%= link_to 'Edit', edit_admin_product_datail_path(admin_product_datail) %></td>
        <td><%= link_to 'Destroy', admin_product_datail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admin Product Datail', new_admin_product_datail_path %>
