   <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
      <%= link_to admin_path do %>
      <div class="info-box">
        <span class="info-box-icon bg-aqua"><i class="ion ion-ios-gear-outline"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">Review</span>
          <span class="info-box-number"><%= @number_review %></span>
        </div>
      </div>
      <% end %>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
     <%= link_to admin_products_path do %>
     <div class="info-box">
      <span class="info-box-icon bg-red"><i class="fa fa-mobile-phone"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">Product</span>
        <span class="info-box-number"><%= @number_product %></span>
      </div>
    </div>
    <% end %>
  </div>

  <div class="clearfix visible-sm-block"></div>

  <div class="col-md-3 col-sm-6 col-xs-12">
    <%= link_to  admin_orders_path do %>
    <div class="info-box">
      <span class="info-box-icon bg-green"><i class="ion ion-ios-cart-outline"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">Sales</span>
        <span class="info-box-number"><%= @number_order %></span>
      </div>
    </div>
    <% end %>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
   <%= link_to  admin_users_path do %>
   <div class="info-box">
    <span class="info-box-icon bg-yellow"><i class="ion ion-ios-people-outline"></i></span>

    <div class="info-box-content">
      <span class="info-box-text">Members</span>
      <span class="info-box-number"><%= @number_user %></span>
    </div>
  </div>
  <% end %>
</div>
</div>
<div class="col-md-12">
  <div class="box">
    <div class="box-header with-border">
      <h3 class="box-title">Monthly Recap Report</h3>
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
        </button>
        <div class="btn-group">
          <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-wrench"></i></button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </div>
          <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
      </div>
      <div class="box-body">
        <div class="row">
          <div class="col-md-8">
            <p class="text-center">
              <strong>Sales: 1 Jan, 2014 - 30 Jul, 2014</strong>
            </p>

            <div class="chart">
              <canvas id="salesChart" style="height: 112px; width: 537px;" height="112" width="537"></canvas>
            </div>
          </div>
          <div class="col-md-4">
            <p class="text-center">
              <strong>Goal Completion</strong>
            </p>

            <div class="progress-group">
              <span class="progress-text">Add Products to Cart</span>
              <span class="progress-number"><b>160</b>/200</span>

              <div class="progress sm">
                <div class="progress-bar progress-bar-aqua" style="width: 80%"></div>
              </div>
            </div>
            <div class="progress-group">
              <span class="progress-text">Complete Purchase</span>
              <span class="progress-number"><b>310</b>/400</span>

              <div class="progress sm">
                <div class="progress-bar progress-bar-red" style="width: 80%"></div>
              </div>
            </div>
            <div class="progress-group">
              <span class="progress-text">Visit Premium Page</span>
              <span class="progress-number"><b>480</b>/800</span>

              <div class="progress sm">
                <div class="progress-bar progress-bar-green" style="width: 80%"></div>
              </div>
            </div>
            <div class="progress-group">
              <span class="progress-text">Send Inquiries</span>
              <span class="progress-number"><b>250</b>/500</span>

              <div class="progress sm">
                <div class="progress-bar progress-bar-yellow" style="width: 80%"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="box-footer">
        <div class="row">
          <div class="col-sm-3 col-xs-6">
            <div class="description-block border-right">
              <span class="description-percentage text-green"><i class="fa fa-caret-up"></i> 17%</span>
              <h5 class="description-header">$35,210.43</h5>
              <span class="description-text">TOTAL REVENUE</span>
            </div>
          </div>
          <div class="col-sm-3 col-xs-6">
            <div class="description-block border-right">
              <span class="description-percentage text-yellow"><i class="fa fa-caret-left"></i> 0%</span>
              <h5 class="description-header">$10,390.90</h5>
              <span class="description-text">TOTAL COST</span>
            </div>
          </div>
          <div class="col-sm-3 col-xs-6">
            <div class="description-block border-right">
              <span class="description-percentage text-green"><i class="fa fa-caret-up"></i> 20%</span>
              <h5 class="description-header">$24,813.53</h5>
              <span class="description-text">TOTAL PROFIT</span>
            </div>
          </div>
          <div class="col-sm-3 col-xs-6">
            <div class="description-block">
              <span class="description-percentage text-red"><i class="fa fa-caret-down"></i> 18%</span>
              <h5 class="description-header">1200</h5>
              <span class="description-text">GOAL COMPLETIONS</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-3">
      <div class="box box-warning direct-chat direct-chat-warning">
        <div class="box-header with-border">
          <h3 class="box-title">Review User</h3>

          <div class="box-tools pull-right">
            <span data-toggle="tooltip" title="3 New Messages" class="badge bg-yellow">3</span>
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="Contacts" data-widget="chat-pane-toggle">
              <i class="fa fa-comments"></i></button>
              <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>
              </button>
            </div>
          </div>
          <div class="box-body">
           <% @user_review.each do |user| %>
           <div class="direct-chat-messages">
            <div class="direct-chat-msg">
              <div class="direct-chat-info clearfix">
              <span class="direct-chat-name pull-left"><%= user.user_id %></span>
                <span class="direct-chat-timestamp pull-right"><%= user.created_at.strftime("%Y-%m-%d") %></span>
              </div>
              <div class="direct-chat-text">
                  <%= user.content %>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="box box-danger">
        <div class="box-header with-border">
          <h3 class="box-title">Mem On Week</h3>
          <div class="box-tools pull-right">
            <span class="label label-danger"><%= @number_user_on_week %> New Members</span>
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>
            </button>
          </div>
        </div>
        <div class="box-body no-padding">
          <ul class="users-list clearfix">

           <% @user.each do |user| %>

           <li>
             <% if user.photo? %>
             <%=link_to(image_tag user.photo, :class=>"work", :size => "128x128") %>
             <%=link_to(user.name, :class=>"users-list-name") %>
             <% else %>
             <%= image_tag("default.jpg",:size => "128x128") %>
             <%=link_to(user.name, :class=>"users-list-name") %>
             <% end %>
             <span class="users-list-date"><%= user.created_at.strftime("%Y-%m-%d") %></span>
           </li>
           <% end %>

         </ul>
       </div>
       <div class="box-footer text-center">
        <%= link_to('View All Users', admin_users_path,:class=>"uppercase" ) %>
      </div>
    </div>
  </div>
</div>
