<%= form_for(admin_product_code) do |f| %>
  <% if admin_product_code.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin_product_code.errors.count, "error") %> prohibited this admin_product_code from being saved:</h2>

      <ul>
      <% admin_product_code.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :store_id %>
    <%= f.number_field :store_id %>
  </div>

  <div class="field">
    <%= f.label :status %>
    <%= f.check_box :status %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
