<%= form_for(admin_review) do |f| %>
  <% if admin_review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin_review.errors.count, "error") %> prohibited this admin_review from being saved:</h2>

      <ul>
      <% admin_review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.number_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :product_id %>
    <%= f.number_field :product_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
