 
<!-- Sidebar user panel -->
<div class="user-panel">
  <div class="pull-left image">
   <%= image_tag(@current_user.photo, class: "img-circle") %>
 </div>

 <div class="pull-left info">
  <p><%= @current_user.name %></p>
  <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
</div>
</div>
<!-- search form -->
<form action="#" method="get" class="sidebar-form">
  <div class="input-group">
    <input type="text" name="q" class="form-control" placeholder="Search...">
    <span class="input-group-btn">
      <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
      </button>
    </span>
  </div>
</form>
<!-- /.search form -->
<!-- sidebar menu: : style can be found in sidebar.less -->
<ul class="sidebar-menu">
  <li class="header">MAIN NAVIGATION</li>

  <li class="treeview">
   <%= link_to admin_path do %>
   <i class="fa fa-dashboard"></i> <span>Home</span>
   <% end %>
 </li>
 <li class="header">PRODUCT</li>
 <li class="treeview">
  <%= link_to admin_products_path do %>
  <i class="fa fa-files-o"></i>
  <span>Products</span>
  <span class="pull-right-container">
    <small class="label pull-right bg-green">new</small>
  </span>
  <% end %>
</li>
<li class="treeview">
  <%= link_to admin_images_path do %>
  <i class="fa fa-files-o"></i>
  <span>Image of Products</span>
  <% end %>
</li>
<li class="treeview">
  <%= link_to admin_product_details_path do %>
  <i class="fa fa-files-o"></i>
  <span>Products Details</span>
  <% end %>
</li>
<li class="header">USER</li>

<li class="active">
  <%= link_to admin_users_url do %>
  <i class="fa fa-th"></i> <span>User</span>
  <span class="pull-right-container">
    <span class="label label-primary pull-right">2</span>
  </span>
  <% end %>
</a>
</li>
<li class="header">ODER</li>

<li class="treeview">
  <%= link_to admin_orders_url do %>
  <i class="fa fa-pie-chart"></i>
  <span>List Order</span>
  <span class="pull-right-container">
    <i class="fa fa-angle-left pull-right"></i>
  </span>
  <% end %>
</li>

<li class="treeview">
  <%= link_to admin_orders_details_url do %>
  <i class="fa fa-pie-chart"></i>
  <span>Order details</span>
  <span class="pull-right-container">
    <i class="fa fa-angle-left pull-right"></i>
  </span>
  <% end %>
</li>



</ul>


