<div class="row"> 
      <div id="content" class="col-sm-9"> 
        <%= form_for((@user), :html => {:class => 'form-horizontal'}) do |f| %>
        <%= render 'shared/error_messages', object: @user %>

        <fieldset id="account">
          <legend>Your Personal Details</legend>

          <div class="form-group required">
            <%= f.label :name ,class: 'col-sm-3 control-label',class: 'col-sm-3 control-label' %>
            <div class="col-sm-9">
              <%= f.text_field :name, class: 'form-control' %>
            </div>
          </div>
          <div class="form-group required">
            <%= f.label :email ,class: 'col-sm-3 control-label' %>
            <div class="col-sm-9">
              <%= f.email_field :email, class: 'form-control' %>
            </div>
          </div>
          <div class="form-group required">
            <%= f.label :phone ,class: 'col-sm-3 control-label' %>
            <div class="col-sm-9">
              <%= f.text_field :phone, class: 'form-control' %>
            </div>
          </div>
        </fieldset>

        <fieldset id="address">
          <legend>Your Address</legend>
          <div class="form-group required">
            <%= f.label :address ,class: 'col-sm-3 control-label' %>
            <div class="col-sm-9">
              <%= f.text_field :address, class: 'form-control' %>
            </div>
          </div>
        </fieldset>

        <fieldset>
          <legend>Your Password</legend>
          <div class="form-group required">
            <%= f.label :password ,class: 'col-sm-3 control-label' %>
            <div class="col-sm-9">
              <%= f.password_field :password, class: 'form-control',:required => true %>
            </div>
          </div>
          <div class="form-group required">
            <%= f.label :password_confirmation ,class: 'col-sm-3 control-label' %>
            <div class="col-sm-9">
              <%= f.password_field :password_confirmation, class: 'form-control', :required => true %>
            </div>
          </div>
        </fieldset>

        <fieldset>
          <legend>Avatar</legend>
          <div class="form-group required">
            <%= f.label :photo ,class: 'col-sm-3 control-label' %>

            <div class="col-sm-9">
              <%= f.file_field :photo %>
            </div>
          </div>
        </fieldset>

        <div class="buttons">
          <%= f.submit yield(:button_text), class: "btn btn-primary", value: 'Continue' %>
          <% end %>
        </div>

      </div>
      <%= render 'users/right_sidenav'%>
    </div>