<%= form_for(admin_order_detail) do |f| %>
  <% if admin_order_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin_order_detail.errors.count, "error") %> prohibited this admin_order_detail from being saved:</h2>

      <ul>
      <% admin_order_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :order_id %>
    <%= f.number_field :order_id %>
  </div>

  <div class="field">
    <%= f.label :product_details_id %>
    <%= f.number_field :product_details_id %>
  </div>

  <div class="field">
    <%= f.label :quantity %>
    <%= f.number_field :quantity %>
  </div>

  <div class="field">
    <%= f.label :price %>
    <%= f.text_field :price %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
