<p id="notice"><%= notice %></p>

<h1>Admin Order Details</h1>

<table>
  <thead>
    <tr>
      <th>Order</th>
      <th>Product details</th>
      <th>Quantity</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_order_details.each do |admin_order_detail| %>
      <tr>
        <td><%= admin_order_detail.order_id %></td>
        <td><%= admin_order_detail.product_details_id %></td>
        <td><%= admin_order_detail.quantity %></td>
        <td><%= admin_order_detail.price %></td>
        <td><%= link_to 'Show', admin_order_detail %></td>
        <td><%= link_to 'Edit', edit_admin_order_detail_path(admin_order_detail) %></td>
        <td><%= link_to 'Destroy', admin_order_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admin Order Detail', new_admin_order_detail_path %>
