<p id="notice"><%= notice %></p>

<h1>Admin Stores</h1>

<table>
  <thead>
    <tr>
      <th>Product details code</th>
      <th>Quantity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_stores.each do |admin_store| %>
      <tr>
        <td><%= admin_store.product_details_code %></td>
        <td><%= admin_store.quantity %></td>
        <td><%= link_to 'Show', admin_store %></td>
        <td><%= link_to 'Edit', edit_admin_store_path(admin_store) %></td>
        <td><%= link_to 'Destroy', admin_store, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admin Store', new_admin_store_path %>
