<p id="notice"><%= notice %></p>

<h1>Admin Specials</h1>

<table>
  <thead>
    <tr>
      <th>Product</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_specials.each do |admin_special| %>
      <tr>
        <td><%= admin_special.product_id %></td>
        <td><%= link_to 'Show', admin_special %></td>
        <td><%= link_to 'Edit', edit_admin_special_path(admin_special) %></td>
        <td><%= link_to 'Destroy', admin_special, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admin Special', new_admin_special_path %>
