<h1>New Admin Image</h1>
<section class="content">
  <div class="row">
    <div class="col-md-10">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Add Images</h3>
        </div>

        <%= form_for [:admin, Image.new] do |f| %>
          <div class="box-body">
            <div class="form-group">
              <%= f.label :product %>
              <%= f.select :product_id, options_for_select(Product.all.map{|e| [e.name, e.id]}) %>
            </div>
            <div class="form-group">
              <%= f.label :link %>
              <%= f.file_field :link %>
            </div>
            <div class="form-group">
              <%= f.submit "Create", class: "btn btn-info" %>
            </div>            
          </div>
        <% end %>
      </div>

    </div>
  </section>

