<p id="notice"><%= notice %></p>

<p>
  <strong>Link:</strong>
  <%= @admin_image.link %>
</p>

<p>
  <strong>Product:</strong>
  <%= @admin_image.product_id %>
</p>

<%= link_to 'Edit', edit_admin_image_path(@admin_image) %> |
<%= link_to 'Back', admin_images_path %>
