 
 <div class="product-thumb">
  <div class="image">
    <a class="lazy lazy-loaded" style="padding-bottom: 100%" href="/products/<%= product.id%>"> 
      <img alt="" title="" class="img-responsive" data-src="" src="<%= product.image%>"> 
    </a>
    <div class="stickers">
      <% if product.status == true%>
        <div class="sale">sale</div>
        <% end%>
       <% if product.status.nil? %>
          <div class="new_pr">new</div>                   
        <% end %>
    </div>
  </div>
  <div class="caption">
    <div class="name"><a href="/products/<%= product.id%>"><%= product.name%> </a></div>
    <div class="description"><%= product.description %></div>
    <div class="price price-product">
      <span class="price-new">$<%= product.price %>0</span> 
      <% if !(product.status == false ) %>
          <span class="price-old">$40.00</span>
        <% end %>   
    </div>
    <div class="cart-button">
      <%= link_to product_path(product) do %>
        <span class="btn btn-add">Add to Cart</span>
      <% end %>       
    </div>
    <div class="rating" style="margin-top:15px">
      <span class="fa-stack"><i class="fa fa-star-o"></i></span>
      <span class="fa-stack"><i class="fa fa-star-o"></i></span>
      <span class="fa-stack"><i class="fa fa-star-o"></i></span>
      <span class="fa-stack"><i class="fa fa-star-o"></i></span>
      <span class="fa-stack"><i class="fa fa-star-o"></i></span>
    </div>
  </div>
</div>