<%  provide(:title,@category.name) %>
<div class="container">
  <ul class="breadcrumb">
    <li><a href=""><i class="fa fa-home"></i></a></li>
    <li class="last"><a href="" style="display: none;"><%= @category.name %></a><span><%= @category.name %></span></li>
  </ul>  


  <div class="row">
      <div id="content" class="col-sm-9">
        <h2><%= @category.name %></h2><br><br>
        <%= render 'productfilter' %>      
        <div class="row">
          <div class="product-layout product-list col-xs-12">
            <% @products.each do |product| %>
              <%= render 'categories/product-thumb',product: product%>          
            <% end %>
          </div>
        </div>
        
      </div>
      <aside id="column-right" class="col-sm-3">
        <%= render 'categories/bestsellers' %>            
        <%= render 'categories/new' %>             
        <%= render 'categories/special' %>              
      </aside>
  </div>

</div>