<div class="container">
	<ul class="breadcrumb">
		<li><a href=""><i class="fa fa-home"></i></a></li>
		<li class="last"><a href="" style="display: none;"></a>
		<span>Happy Birthday Kalanchoe Basket</span></li>
	</ul>
	<div class="row">
		<div id="content" class="col-sm-12 product_page">
			<div class="row product-content-columns">
				<div class="col-sm-5 col-lg-7 product_page-left">				
					<div id="default_gallery" class="product-gallery">
						<div class="image-thumb">
							<div class="bx-wrapper" style="max-width: 99px; margin: 0px auto;">
								<div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 537px;">
									<ul id="image-additional" class="image-additional" style="width: auto; position: relative; transition-duration: 0s; transform: translate3d(0px, 0px, 0px);">
										<li style="float: none; list-style: outside none none; position: relative; width: 97px; margin-bottom: 13px;">
											<a href="#" data-image="http://livedemo00.template-help.com/opencart_55697_v1/image/cache/catalog/product-16-650x650.png" class="active">
												<img src="http://livedemo00.template-help.com/opencart_55697_v1/image/cache/catalog/product-16-650x650.png" alt="">
											</a>
										</li>
									</ul>
									<ul id="image-additional" class="image-additional" style="width: auto; position: relative; transition-duration: 0s; transform: translate3d(0px, 0px, 0px);">
										<li style="float: none; list-style: outside none none; position: relative; width: 97px; margin-bottom: 13px;">
											<a href="#" data-image="http://livedemo00.template-help.com/opencart_55697_v1/image/cache/catalog/product-16-650x650.png" class="active">
												<img src="http://livedemo00.template-help.com/opencart_55697_v1/image/cache/catalog/product-16-650x650.png" alt="">
											</a>
										</li>
									</ul>
								</div>		
							</div>	
						</div>
						<div id="product-image" class="product-image">
							<div class="magnificent-wrap">
								<div class="magnificent magnificent-mode-inner" data-magnificent="product-image">
									<div class="polaroid">
										<div class="inner" style="position: relative;">
											<img src="http://livedemo00.template-help.com/opencart_55697_v1/image/cache/catalog/product-16-800x800.png">
											<div class="magnificent-area" style="position: absolute; z-index: 100; top: 0px; left: 0px; background: white none repeat scroll 0% 0%; opacity: 0; height: 528px; width: 528px;">											
											</div>
											<div data-magnificent-viewport="product-image" class="magnificent-viewport magnificent-viewport-mode-inner" style="display: none; position: absolute; z-index: 98; overflow: hidden; height: 528px; width: 528px; left: 0px; top: 0px;">
											<div class="inner" style="position: relative; width: 1584px; top: -96.6766px; left: -473.613px;">
												<img src="http://livedemo00.template-help.com/opencart_55697_v1/image/cache/catalog/product-16-800x800.png">
											</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="magnificent-viewport-wrap">
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-7 col-lg-5 product_page-right">
					<div class="general_info product-info">
						<h2 class="product-title">Happy Birthday Kalanchoe Basket</h2>						 
						<div class="rating-section product-rating-status">
							<div class="rating">
								<i class="fa fa-star-o"></i>
								<i class="fa fa-star-o"></i>
								<i class="fa fa-star-o"></i>
								<i class="fa fa-star-o"></i>
								<i class="fa fa-star-o"></i>
								&nbsp;
								&nbsp;
								<a onclick="document.getElementById('tab-review').scrollIntoView();">0 reviews</a> / <a onclick="document.getElementById('tab-review').scrollIntoView();">Write a review</a>
							</div>
						</div>
						<div class="price-section">
							<span class="price-new">$32.00</span> <span class="price-old">$40.00</span>
							<div class="reward-block">
							</div>
						</div>
						<ul class="list-unstyled product-section">
							<li>Product Code: <span>Deluxe</span></li>
							<li>Availability: <span class="green">600</span></li>
						</ul>
					</div>
					<div class="product">
						<div class="product-options form-horizontal">
							<h3>Available Options</h3>
							<div class="form-group required">
								<label class="control-label col-sm-6">Checkbox</label>
								<div class="col-sm-6">
									<div id="input-option11">
										<div class="checkbox">
											<label>
												<input name="option[11][]" value="25" type="checkbox">
												Checkbox 1 (+$10.00)
											</label>
										</div>
										<div class="checkbox">
											<label>
												<input name="option[11][]" value="26" type="checkbox">
												Checkbox 2 (+$15.00)
											</label>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group form-horizontal">
						<div class="form-group">
							<label class="control-label col-sm-6" for="input-quantity">Qty</label>
							<div class="col-sm-2">
								<input name="quantity" value="1" size="2" id="input-quantity" class="form-control" type="text">
							</div>
							</div>
							<input name="product_id" value="33" type="hidden">
							<button type="button" id="button-cart" data-loading-text="Loading..." class="btn btn-add"><span>Add to Cart</span></button>
						</div>
					</div>
				</div>
			</div>
			<div class="product_tabs">
				<ul class="nav nav-tabs">
					<li class="active">
					<a href="#tab-description" data-toggle="tab" aria-expanded="true">Description</a>
					</li>
					<li class="">
						<a href="#tab-specification" data-toggle="tab">Specification</a>
					</li>
					<li>
						<a href="#tab-review" data-toggle="tab">Reviews (0)</a>
					</li>
					<li>
						<a href="#tab-video" data-toggle="tab">
						Video </a>
					</li>
				</ul>
				<div class="tab-content">										
					<%= render 'products/tab-description' %>
					<%= render 'products/tab-specification' %>
					<%= render 'products/tab-review' %>
					<%= render 'products/tab-video' %>
				</div>
			</div>
			<div class="box specials">
				<div class="box-heading">
					<h3>
						Related Products
					</h3>
				</div>
				<div class="box-content">
					<%= render 'static_pages/box-content' %>
					<%= render 'static_pages/box-content' %>
					<%= render 'static_pages/box-content' %>
					<%= render 'static_pages/box-content' %>
				</div>
			</div>
		</div>

	</div>
</div>
